# Preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
weather = pd.read_csv('/home/yoon/Downloads/weather_data_20190101_20191231_num_filtered.csv')
weather

,Unnamed: 0,TM,WS_AVG,TA_AVG,TA_MAX,TA_MIN,HM_AVG,SS_DAY,RN_DAY,TA_DIF
0,0,20190101,2.1,-5.0,-0.6,-8.2,49.5,7.5,0.0,7.6
1,1,20190101,2.2,-4.0,1.9,-10.2,56.9,7.1,0.0,12.1
2,2,20190101,5.9,1.6,5.6,-0.4,56.1,7.1,0.0,6.0
3,3,20190101,1.9,-6.1,0.1,-11.2,63.5,7.7,0.0,11.3
4,4,20190101,1.3,-4.1,0.2,-8.1,67.3,0.1,0.0,8.3
...,...,...,...,...,...,...,...,...,...,...
2894,2894,20191231,8.7,-1.1,3.1,-3.2,38.4,8.7,0.0,6.3
2895,2895,20191231,2.8,-6.2,-2.9,-9.2,45.3,8.8,0.0,6.3
2896,2896,20191231,2.5,-5.6,-1.1,-8.3,51.5,7.8,0.0,7.2
2897,2897,20191231,6.8,-1.1,3.0,-3.8,45.3,8.8,0.0,6.8
2898,2898,20191231,4.3,-4.8,0.6,-7.7,51.8,8.2,0.0,8.3

In [21]:
rain = weather.groupby("TM")["RN_DAY"].sum().reset_index()
rain = rain["RN_DAY"]
rain

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
360     0.2
361     0.0
362    65.4
363     8.8
364     0.0
Name: RN_DAY, Length: 365, dtype: float64

### 이 밑에가 일별로 하나씩 남겨놓은 거. RN day는 sum, 나머지는 average로 처리

In [22]:
weather_average = weather.groupby('TM').mean().reset_index()
weather_average['TM'] = pd.to_datetime(weather_average['TM'], format='%Y%m%d')
weather_average["RN_DAY"] = rain
weather_average

,TM,Unnamed: 0,WS_AVG,TA_AVG,TA_MAX,TA_MIN,HM_AVG,SS_DAY,RN_DAY,TA_DIF
0,2019-01-01,3.0,2.957143,-3.042857e+00,1.771429,-7.242857,59.214286,5.571429,0.0,9.014286
1,2019-01-02,10.5,2.800000,-1.437500e+00,3.087500,-5.050000,48.262500,6.487500,0.0,8.137500
2,2019-01-03,18.5,1.312500,-3.150000e+00,4.800000,-9.500000,51.787500,8.650000,0.0,14.300000
3,2019-01-04,26.5,1.275000,-1.300000e+00,4.387500,-7.900000,63.750000,3.775000,0.0,12.287500
4,2019-01-05,34.5,1.750000,-2.775558e-17,5.762500,-5.562500,47.437500,7.037500,0.0,11.325000
...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,2863.5,2.862500,2.562500e+00,6.475000,-0.675000,50.450000,6.112500,0.2,7.150000
361,2019-12-28,2871.5,1.162500,1.550000e+00,8.150000,-3.425000,58.800000,7.800000,0.0,11.575000
362,2019-12-29,2879.5,1.250000,2.687500e+00,6.687500,-2.275000,73.900000,0.087500,65.4,8.962500
363,2019-12-30,2887.5,2.525000,4.950000e+00,9.987500,0.225000,78.550000,1.975000,8.8,9.762500
364,2019-12-31,2895.0,4.614286,-4.514286e+00,-0.300000,-7.214286,44.871429,8.628571,0.0,6.914286

In [23]:
weather_average.to_csv("weather_average2019.csv", index=False)